@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

body {
	background-color:#f5f5f5;
	font-family: Poppins, 'Open Sans', sans-serif;
}

/* início do header/navbar */

.logo {
	width:60px;
}
nav {
	padding:0 15px;
	color:#fff;
	background-color: #000;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
    z-index: 2000;
}
nav ul li {
	display:inline-block;
	background-color: #000;
}
nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
	transition:150ms;
}
nav a:hover {
	background-color: #222;
}
nav ul ul {
	display: none;
	position: absolute;
}	
nav ul li:hover > ul {
	display:inherit;
}
nav ul ul li {
	width:180px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:180px;
}

/* fim do header/navbar */


/* Começo da página dos produtos */

.banner-relacionados {
    margin-top:50px;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner-relacionados img {
    width:400px;
    height:180px;
    object-fit: cover;
}
.relacionado {
    margin:10px 30px 0 30px;
}
.produtos {
    width:75%;
    margin: 45px auto;
}
hr {
    border: 2px solid #000;
}

.container {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.preco {
    font-size:16px;
    font-weight:bold;
    border:1px solid #00000033;
    width:80px;
    padding:2px;
    margin: 10px auto;
}
.card {
    background-color: #fff;
    border:1px solid #999;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    min-width:250px;
    box-shadow: 4px 4px 8px #0000001a;
    text-align: center;
    transition: transform 0.35s;
}
.card:hover {
    transform: scale(1.01);
}
.card img {
    width:90%;
    height:250px;
    object-fit: cover;
}
h5 {
    height:50px;
}
.card a, 
.card a:visited, 
.card a:hover, 
.card a:active {
  color: #000000;
  text-decoration: none;
}
button {
    background-color: #CC2F85;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #F1DCA5;
}
button:hover {
    background-color: #BB6496;
}
button:hover:active {
    border: 1px solid #00000033;
}

/* Final da página dos produtos */

/* Início da página de cada produto */

.seta img{
width: 2%;
margin-top: 1%;
margin-left: 1%;
}
 a{
    text-decoration: none;
 }
.container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 85px);
	gap: 100px;
}

.left-side {
	display: flex;
	flex-direction: column;
}

.items {
	width: 500px;
}

.select-image {
	max-width: 500px;
	margin-bottom: 10px;
}

.select-image img {
	width: 100%;
	border-radius: 10px;
}

.thumbnails {
	display: flex;
	justify-content: space-evenly;
	max-width: 500px;
	gap: 10px;
}

.thumbnail img {
	max-width: 100%;
	border-radius: 10px;
}	


/* right-side */
.right-side {
	display: flex;
	flex-direction: column;
}

.content {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.right-side h6{
	color: #cd2f86;
}

.right-side p{
	color: hsl(219, 9%, 45%);
	font-size: 14px;
}

.prices {
	display: flex;
	flex-direction: column;
}

.price {
	font-size: 16px;
	font-weight: 700;
}

.off {
	font-size: 12px;
	color: #ccc;
}

.options {
	display: flex;
	gap: 20px;
}

.amount {
	display: flex;
	align-items: center;
	gap: 30px;
	background-color: hsl(223, 64%, 98%);
	padding: 10px 20px;
	width: fit-content;
	border-radius: 10px;
}

.minus, .plus {
	cursor: pointer;

	i {
		color: #eb0081;
	}
}

.button {
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: #cd2f86;
	padding: 10px 35px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	width: fit-content;
	gap: 8px;
	font-size: 12px;
	font-weight: 700;
}

.button img {
width: 14px;
}

/* Fim da página de cada produto */

/* Início da página das lojas parceiras */



/* Fim da página das lojas parceiras */


/* início do footer */

footer {
    background-color: white;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: #cd2f86;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: black;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #cd2f86;
    background-color: black;

	i {
		color: #cd2f86;
	}
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid blackwhite;
    color: black;
    background-color: white;
}
.footer-col .form-sub input::placeholder{
    color: black;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    background-color: #cd2f86;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}

/* fim do footer */